/* Slate Indigo (Home) */
.md-color-primary-indigo {
  --md-primary-fg-color: #1f2a44;
}

/* Slate Royal Blue (PM516A) */
.md-color-primary-blue {
  --md-primary-fg-color: #1f3c88;
}

/* Slate Royal Purple (PM516B) */
.md-color-primary-deep-purple {
  --md-primary-fg-color: #4b2e83;
}
